* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

/* Navigation */

.kanan a{
    font-size: 18px;
    position: relative;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    transition: 0.2s;
}

.kanan a::after{
    content: "";
    position: absolute;
    background-color: rebeccapurple;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.kanan a:hover::after{
    width: 100%;
}

.kanan ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

.kanan ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.kanan ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
    background: white;
}

.kanan ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

/* Login */

.login {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
}

#login-btn {
    text-align: center;
    color: black;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 black;
    transition: 0.5s;
}

#login-btn:hover {
    box-shadow: inset 150px 0 0 0 black;
    cursor: pointer;
    color: white;
}


.login a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#sign-btn {
    text-align: center;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #e0d6eb;
    box-shadow: inset 0 0 0 0;
    transition: 0.5s;
}

#sign-btn:hover {
    box-shadow: inset 150px 0 0 0 rebeccapurple;
    cursor: pointer;
    color: white;
}

/* Log Out */
.logout {
    display: flex;
    align-items: center;
}

.logout p {
    margin-right: 10px;
}

.logout a {
    text-decoration: none;
    color: black;
    background-color: #c4c4c4;
    box-shadow: inset 0 0 0 0;
    border-radius: 40px;
    padding: 10px 30px;
    margin-right: 50px;
    transition: 0.5s;
}

.logout a:hover {
    box-shadow: inset 150px 0 0 0 red;
    cursor: pointer;
}

/* Content */

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner h1 {
    font-size: 2rem;
    text-align: left;
}

.about-cetax {
    max-width: 700px;
    margin-left: 29%;
    margin-top: 50px;
    text-align: center;
}

.about-cetax h1 {
    font-size: 3rem;
}

.about-cetax p {
    padding: 20px;
}

.cetax-is {
    margin-top: 50px;
    max-width: 1000px;
    margin-left: 20%;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
}

/* Our Technology */
.tech-title {
    margin: 50px;
}

/* Card */
.container-abt {
    display: flex;
}

.card-abt {
    margin: 40px 15px;
    max-width: 600px;
    width: 100%;
}

.card-content {
    width: 300px;
    height: 350px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 230px;
    z-index: 1;
}

.card-title {
    text-align: center;
    z-index: 1;
}

.card-title h1 {
    font-size: 1.5rem;
    z-index: 1;
}

.card-title p {
    font-size: 1rem;
    z-index: 1;
}

/* Swiper */
.swiper-button-next,
.swiper-button-prev {
    padding-top: 50%;
}

.swiper-pagination {
    display: none;
}

/* Footer */

footer {
    width: 100vw;
    height: 300px;
    background-color: #f7f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cetax {
    margin-left: 70px;
    text-align: center;
}

.footer-img a {
    text-decoration: none;
}

.footer-img a img {
    width: 50px;
}

.copyright p {
    color: #c4c4c4;
}

.location {
    margin-right: 50px;
}

.location p {
    width: 300px;
    color: #c4c4c4;
    font-weight: 500;
}

.contact-us p{
    color: #c4c4c4;
}

.useful-link {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.useful-link a {
    text-decoration: none;
    color: #c4c4c4;
    transition: .5s all ease-in-out;
}

.useful-link a:hover {
    color: black;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        margin-left: 5px;
    }
    
    .logo img {
        width: 30px;
        margin-right: 10px;
    }

    .logo h1 {
        font-size: 20px;
    }

    /* Navigation */
    .kanan ul li a {
        font-size: 12px;
    }
    /* Log Out */
    .logout {
        margin-right: -10px;
    }

    .logout a {
        box-shadow: inset 0 0 0 0;
        border-radius: 20px;
        padding: 5px 0px;
        text-align: center;
        font-size: 12px;
        width: 100px;
    }

    .logout p {
        font-size: 12px;
    }

    /* Content */
    .banner {
        margin: 0 30px;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner img {
        width: 300px;
    }

    /* Cetax Title */
    .about-cetax h1 {
        font-size: 30px;
        margin-left: -30%;
    }

    .cetax-is {
        margin-top: 50px;
        max-width: 600px;
        margin-left: 10%;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.4px);
        -webkit-backdrop-filter: blur(7.4px);
    }

    /* Card */
    .card-content {
        width: 200px;
        height: 250px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    .card-abt {
        margin: 40px 0px;
        max-width: 600px;
        width: 100%;
    }

    .card-image img {
        width: 180px;
        z-index: 1;
    }
    
    .card-title h1 {
        font-size: 0.8rem;
        z-index: 1;
    }

    .card-title p {
        font-size: 0.8rem;
        z-index: 1;
    }

    /* Swiper */
    .swiper-button-next,
    .swiper-button-prev {
        padding-top: 80%;
    }
    
    /* Footer */
    .cetax {
        margin-left: 10px;
        font-size: 14px;
    }
    
    .footer-img a img {
        width: 40px;
    }
    
    .copyright p {
        width: 200px;
    }

    .location {
        margin-right: 20px;
    }

    .location p {
        font-size: 14px;
        width: 200px;
    }

    .contact-us p{
        font-size: 14px;
        width: 200px;
    }

    .useful-link {
        margin-right: 10px;
    }
}