.content-edit-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.content-edit-page h2 {
    justify-content: flex-start;
    margin-right: 30px;
}

.form-edit {
    text-align: start;
    background-color: white;
    width: 600px;
    text-align: center;
    margin-left: 200px;
    max-width: 100%;
    padding: 20px 40px;
    display: flex;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 300px;
    max-width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    color: #adadad;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    top: 40px;
    background: rebeccapurple;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: rebeccapurple;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

.btn-choose input{
    width: 200px;
    height: 50px;
    border: 1px solid;
    background: rebeccapurple;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
    outline: none;
}

.btn-choose input:hover {
    border-color: rebeccapurple;
    transition: .5s;
}

#remove {
    color: black;
    background: white;
    border: 1px solid;
    transition: 0.3s ease;
    margin-top: 10px;
}

#remove:hover {
    color: white;
    background: red;
}