* {
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.brand {
    margin-left: 10px;
}

#color {
    margin-left: 0;
    color: grey;
}

/* Navigation */

.kanan a{
    font-size: 18px;
    position: relative;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    transition: 0.2s;
}

.kanan a::after{
    content: "";
    position: absolute;
    background-color: rebeccapurple;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.kanan a:hover::after{
    width: 100%;
}

.kanan ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

.kanan ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.kanan ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
    background: white;
}

.kanan ul ul{
    position: absolute;
    top: 60px;
    display: none;
}

.kanan ul li:hover > ul{
    display: block;
}

.kanan ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

/* Login */

.login {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
}

#login-btn {
    text-align: center;
    color: black;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 black;
    transition: 0.5s;
}

#login-btn:hover {
    box-shadow: inset 150px 0 0 0 black;
    cursor: pointer;
    color: white;
}


.login a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#sign-btn {
    text-align: center;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #e0d6eb;
    box-shadow: inset 0 0 0 0;
    transition: 0.5s;
}

#sign-btn:hover {
    box-shadow: inset 150px 0 0 0 rebeccapurple;
    cursor: pointer;
    color: white;
}

/* Log Out */
.logout {
    display: flex;
    align-items: center;
}

.logout p {
    margin-right: 10px;
}

.logout a {
    text-decoration: none;
    color: black;
    background-color: #c4c4c4;
    box-shadow: inset 0 0 0 0;
    border-radius: 40px;
    padding: 10px 30px;
    margin-right: 50px;
    transition: 0.5s;
}

.logout a:hover {
    box-shadow: inset 150px 0 0 0 red;
    cursor: pointer;
}

/* Content */
.container-order {
    max-width: 1700px;
    margin: 0 auto;
}

.content-order {
    width: 100%;
    /* height: 120vh; */
    display: flex;
    justify-content: space-around;
}

/* Order Title */
#order-title {
    display: flex;
    align-items: flex-start;
    margin: 50px 250px;
}

/* Content */
.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    max-width: 100%;
    margin:  50px;
}

.product-desc h3 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: 375px;
}

.product-desc p {
    text-align: justify;
}

/* Right Content */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #663399;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #adadad;
    cursor: pointer;
    font-size: 1em;
}

.select::-ms-expand {
    display: none;
}

.select {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: rebeccapurple;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #adadad;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #663399;
}

.right-content {
    margin: 50px;
}

.product-det p {
    margin-bottom: 10px;
}

.form-text {
    margin-left: 0;
    margin-top: 50px;
}

.form-text h1 {
    text-align: left;
    width: 300px;
    margin-bottom: 20px;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    max-width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    color: #adadad;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: rebeccapurple;
    transition: .5s;
    left: 0;
    top: 40px;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: rebeccapurple;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

.file-upload {
    margin: 30px auto;
}

.btn {
    display: flex;
    justify-content: center;
    margin: auto;
}

.btn-purchase input{
    width: 200px;
    height: 50px;
    border: 1px solid;
    background: rebeccapurple;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
    outline: none;
}

.btn-purchase input:hover {
    border-color: rebeccapurple;
    transition: .5s;
}

/* Footer */

footer {
    width: 100vw;
    background-color: #f7f8f8;
}

.container-footer-order {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cetax {
    margin-left: 70px;
    text-align: center;
}

.footer-img a {
    text-decoration: none;
}

.footer-img a img {
    width: 50px;
}

.copyright p {
    color: #c4c4c4;
}

.location {
    margin-right: 50px;
}

.location p {
    width: 300px;
    color: #c4c4c4;
    font-weight: 500;
}

.contact-us p{
    color: #c4c4c4;
}

.useful-link {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.useful-link a {
    text-decoration: none;
    color: #c4c4c4;
    transition: .5s all ease-in-out;
}

.useful-link a:hover {
    color: black;
}

/* Tab */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        margin-left: 5px;
    }
    
    .logo img {
        width: 30px;
        margin-right: 5px;
    }

    .logo h1 {
        font-size: 20px;
    }

    /* Navigation */
    .kanan ul li{
        margin-left: 5px;
    }

    .kanan ul li a {
        font-size: 12px;
    }
    /* Log Out */
    .logout {
        margin-right: -30;
    }

    .logout p {
        margin-right: 5px;
    }

    .logout a {
        box-shadow: inset 0 0 0 0;
        border-radius: 20px;
        padding: 5px 0px;
        text-align: center;
        font-size: 12px;
        width: 100px;
    }

    .logout p {
        font-size: 12px;
    }

    /* Order Title */
    #order-title {
        margin-left: 35px;
        font-size: 30px;
    }

    /* Content Order */
    .content-order {
        margin: 0 20px;
    }

    .left-content {
        margin-right: 10px;
    }

    .select {
        width: 15em;
    }

    .form-text h1 {
        font-size: 30px;
    }

    .product-det h1 {
        font-size: 30px;
    }

    #qty-order {
        width: 240px;
    }

    .btn-purchase {
        margin-top: -50px;
        margin-right: 60px;
        margin-bottom: 50px;
    }

    /* Footer */
    .cetax {
        margin-left: 10px;
        font-size: 14px;
    }
    
    .footer-img a img {
        width: 40px;
    }
    
    .copyright p {
        width: 200px;
    }

    .location {
        margin-right: 20px;
    }

    .location p {
        font-size: 14px;
        width: 200px;
    }

    .contact-us p{
        font-size: 14px;
        width: 200px;
    }

    .useful-link {
        margin-right: 10px;
    }
}

/* Handphone Size L */
@media screen and (max-width: 767px) { 
    nav {
        flex-wrap: wrap;
    }

    .logo {
        margin-top: 10px;
        margin-left: 130px;
    }
    
    .logo img {
        width: 50px;
        margin-right: 5px;
    }

    .logo h1 {
        font-size: 18px;
    }

    /* Navigation */    
    nav {
        align-items: center;
        margin-left: 20px;
    }

    .kanan {
        /* position: absolute; */
        /* margin-top: 150px; */
        justify-content: center;
    }

    .kanan ul li{
        margin-left: 5px;
    }

    .kanan ul li a {
        font-size: 12px;
        padding: 0;
        margin: 13px;
    }

    /* Log Out */
    .logout {
       margin-right: -30;
       margin-left: 130px;
    }

    .logout p {
        margin-right: 5px;
    }

    .logout a {
        box-shadow: inset 0 0 0 0;
        border-radius: 20px;
        padding: 5px 0px;
        text-align: center;
        font-size: 16px;
        width: 100px;
    }

    .logout p {
        font-size: 16px;
    }

    /* Content */
    #order-title {
        margin: 50px 80px;
    }

    .content-order {
        flex-wrap: wrap;
    }

    /* Footer */
    footer {
        margin-top: 900px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cetax {
        margin-top: 15px;
        margin-left: 10px;
    }

    .location {
        margin-top: 15px;
        text-align: center;
        margin-left: 60px;
    }

    .contact-us {
        margin-top: 15px;
        text-align: center;
        margin-left: 20px;
    }

    .useful-link {
        margin-top: 15px;
        text-align: center;
        margin-left: 110px;
        margin-bottom: 15px;
    }
}